.footer {
position: absolute;

bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
/*height: 60px;*/
color:white;
margin:15px 0px 0px 0px;
padding:10px 0px 20px 0px;
background-color: #006666;
}
body > .container {
padding: 60px 15px 0;
}
.container .text-muted {
margin: 20px 0;
}
 
.footer > .container {
padding-right: 15px;
padding-left: 15px;
}
.footer_font {
	color :#e1f4f4 ;
	font-size :1.4em;
	font-weight: 300;
	text-align: center;
}

